<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
  <div class="twitter-feed">

    <p><i class="fa fa-twitter fa-3x"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, magni, nostrum consectetur atque provident pariatur tenetur deleniti </p>
  </div>
 	<div class="container footer-content">
    <div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" href="#"> <span class="logo">Cas<strong>ca</strong>de <i class="fa fa-bookmark"></i></span></a>
        <div class="site-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
      </div>
      <div class="col-md-4">
        <h3 class="footer-heading">Tags of Cascade</h3>
        <ul class="list-inline footer-tags">
          <li><a href="">admin</a></li>
          <li><a href="">backend</a></li>
          <li><a href="">bootstrap3x</a></li>
          <li><a href="">chat</a></li>
          <li><a href="">clean</a></li>
          <li><a href="">dashboard</a></li>
          <li><a href="">flat</a></li>
          <li><a href="">inbox</a></li>
          <li><a href="">invoice</a></li>
          <li><a href="">light weight</a></li>
          <li><a href="">pricing</a></li>
          <li><a href="">profile</a></li>
          <li><a href="">responsive</a></li>
          <li><a href="">timeline</a></li>
          <li><a href="">ui</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer-heading">Blog Posts</h3>
        <ul class="list-unstyled blog-posts">
          <li>
             <a href="#">
              <img src="images/blog/postOne.png" class="blog-thumbnail" alt="">
              <h5>Creative Images are here</h5>
              <p>Lorem Ipsum dolor sine amet consequor...</p>
            </a>
          </li>
          <li>
           <a href="#">
            <img src="images/blog/postTwo.png" class="blog-thumbnail" alt="">
            <h5>Creative Images are here</h5>
            <p>Lorem Ipsum dolor sine amet consequor...</p>
          </a>
          </li>
          <li>
           <a href="#">
            <img src="images/blog/postThree.png" class="blog-thumbnail" alt="">
            <h5>Creative Images are here</h5>
            <p>Lorem Ipsum dolor sine amet consequor...</p>
          </a>
          </li>
        </ul>

      </div>
 	  </div>
  </div>
</div>
